html,body {
    margin:0;
    padding:0;
    scroll-behavior:smooth;
    font-family: 'Open Sans';
   
    
 
}


 /* .hintergrund {
    height:100%;
    width: 100%;
    background-image: linear-gradient(to right, grey, white);
    background-size:cover;
    background-repeat:no-repeat;

}

.textSection {
    height:80%;
    width:100%;
}




.bg-2 {
   background:grey;
}


<div class="row">
        <div class="col-6">
            <div id="particles-js" class="hintergrund"> 
              
            </div>
        </div>
        <div class="col-6">
          <div class="textSection d-flex mt-5 justify-content-center align-items-center flex-wrap">
            <div class="content mr-3">
              <img src="logo-large.svg" alt="" class="oabat" > 
              <p class="lead mt-3 text-center">Wir vernetzen die Fachkräfte von morgen mit Unternehmen aus der Region</p>
            
    
            <form class="mt-5 d-flex justify-content-center flex-wrap bg2">
                
                  <input type="text" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">       
                  <input type="email" class="form-control text-center mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail">
                <button type="submit" class="btn mt-3 btn-outline-dark ">Submit</button>
              </form>
          </div>
        </div>
          </div>
        </div>  */

        .hintergrund {
            height:100%;
            width: 100%;
            background: linear-gradient( #015962,#4CB0B9);
            
            background-size:cover;
            background-repeat:no-repeat;
       
         
        }

       .content {
           position:absolute;
           top:25%;
           text-align:center;
           width:100%;
        
       }

       .logo {
           width:30%;
     
       }

       @media screen and (max-width: 1000px) {
        .logo {
          width:50%;
        }
      }

       .effect {
           transition: transform 1s;
       }
       .effect:hover {
           transition: all 1s;
           transform: scale(1.2); 
       }

       .font {
        font-family: 'Open Sans';
        font-size:2.5rem;
        color:white;
       }


       @media screen and (max-width: 600px) {
        .font {
          font-size:1.6em;
        }
      }





    


    #exist {
        
      /*  background: linear-gradient(white,grey);
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top:100px; */
    }






    .fontRob {
        font-family:'Roboto';
    }

    .textContent {
        font-size:2rem;
        color: #0F6972;
    }



  @media screen and (max-width: 1068px) {
    #exist {
      display:grid;
      grid-template-columns: 1fr;
    }
  }


  .first {
      padding:50px;
      margin-left:auto;
      width:90%;
      
  }

  .second {
      height:150%;
  }

  
  @media screen and (max-width: 1068px) {
    .first {
     width:100%;
     margin-left:auto;
     margin-right:auto;
     padding:15px;
     
     
    }
  }


.mountain {
    background-position:left;
}


@media screen and (max-width: 1068px) {
    .textContent {
     font-size:1.5rem;
     
     
     }
}


/* Ab hier KI */

#ki {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    height:100%;
}

.ai {
    height:30%;
    
}
  

.icon1 {
    display:flex;
    justify-content:center;
    flex-direction:column;
    
}




.responsiveText {
width:95%;
margin-left:auto;
margin-right:auto;
text-align:Center;
margin-bottom: 10%;
color:grey;

}

@media screen and (max-width: 700px) {
    .responsiveText {
     
        text-align:start;
        font-size: 1em;
        width:100%;
        
     
     
    }
  }




.responsiveHeadline {
    text-align:center;
    color:#2E8E97;
}


@media screen and (max-width: 800px) {
    .responsiveHeadline {
     
        text-align:start;
        font-size: 1.3em;
        color: #4B4A54;
     
     
    }
  }


@media screen and (max-width: 800px) {
    .ai {
     
        height:15%;
     
     
    }
  }



    .test1 {
        width:25%;
        background: linear-gradient(to top right, #fff calc(50% - 1px), #aaa, #fff calc(50% + 1px) )
      }
  
      
      .bruh {
          width:70%;
      }
@media screen and (max-width: 800px) {
    .bruh {
     
        width:100%;
     
     
    }
  }


  .headline {
      font-size:2.5em;
      
  }


  @media screen and (max-width: 800px) {
    .headline {
     
        font-size:2em;
     
     
    }
  }

  .responsiveSlogan {
      text-align:center;
      font-size:3rem;
      color: #0F6972;
  }

  @media screen and (max-width: 800px) {
  .responsiveSlogan {
      text-align:center;
      font-size: 1.5em;
  }
}







